@mixin ContactField {
  margin: 12.5px 0 12.5px 0;
  label {
    text-align: left;
  }
  input {
    width: 100%;
  }
  textarea {
    height: 250px;
    width: 100%;
  }
  * {
    flex: 1;
  }
}

.ContentContact {
  margin: 0 15% 0 15%;
  width: 70%;
  .ContactField {
    @include ContactField;
  }
}
