.ContentContact {
  margin: 0 15% 0 15%;
  width: 70%;
}

.ContentContact .ContactField {
  margin: 12.5px 0 12.5px 0;
}

.ContentContact .ContactField label {
  text-align: left;
}

.ContentContact .ContactField input {
  width: 100%;
}

.ContentContact .ContactField textarea {
  height: 250px;
  width: 100%;
}

.ContentContact .ContactField * {
  flex: 1;
}
