.BussContainer {
  .Tittle {
    cursor: default;
  }
  .PlaceNumber p {
    cursor: default;
    }
  .EqipmentName {
    cursor: default;
  }
  ul {
    padding: 0px; 
    li {
      list-style-type: none;
      cursor: default;
    }
  }

  img{
     width: 50%;   
  }
}
